@import url('https://fonts.googleapis.com/css?family=Monda');
body{
    background: #3D3D3D;
    display: flex;
    justify-content: center;
}
.area{
    position: relative;
    background-color: rgba(255,255,255,0.1);
}

#perso1{
    position:absolute;
    background-color: #f00;
}

.wall{
    position:absolute;
    background-color: #000;
}
