@import url('https://fonts.googleapis.com/css?family=Monda');
body{
    background: #3D3D3D;

}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.area{
    position: relative;
    background-color: rgba(255,255,255,0.1);
}

#perso1{
    position:absolute;
    background-color: #f00;
}

.wall{
    position:absolute;
    background-color: #000;
}

.buttons{
    position : absolute;
    top : 10px;
    left : 10px;
}

.buttons span p{
    color: #EAF6FD;
    margin:5px;
    padding:5px;
}
