body{
    background: #4972b0;
}

h1{
    color : #ffeb36;
}

.info{
    margin-top: 0;
    color: #fff;
    position : relative;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.elements{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.playercircle{
    position:absolute;
    background-color: #d08912;
    border-radius: 15px;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
}
.dumbbotcircle{
    position:absolute;
    background-color: #630d0d;
    border-radius: 15px;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
}
.targetcircle{
    position:absolute;
    background-color: #000;
    border-radius: 15px;
    border : 1px solid #f00;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 5px;
    left: -10px;
}


.area{
    position: relative;
    background-color: #1d8828;
}

.player{
    position:absolute;
    background-color: #d08912;
    border-radius: 15px;
}

.dumbbot{
    position:absolute;
    background-color: #630d0d;
    border-radius: 15px;
}

.target{
    position:absolute;
    background-color: #000;
    border-radius: 15px;
    border : 1px solid #f00;
}

.wall{
    position:absolute;
    background-color: #3d2701;
}

.buttons{
    position : absolute;
    top : 10px;
    left : 10px;
}

.buttons .options p{
    color: #EAF6FD;
    margin:5px;
}

a {
    color: #EAF6FD;
    text-decoration: underline;
    cursor: pointer;
}
